:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-button-bg-color: #F5F4FA;
    --primary-footer-text-color: rgba(255, 255, 255, 0.6);
    --primary-footer-bg-color: #2F303A;
    --primary-team-bg-color: #F5F4FA;
    --accent-bg-hover-color: #188CE8;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}


.list {
    list-style: none;
}

/* Студия*/

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo span {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}



.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


.contacts .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color)
}

.section-hero {
    background-color: var(--primary-footer-bg-color);
}

.section-hero .title {
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.44;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

button {
    border: 0;
    font-family: inherit;
}


.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    cursor: pointer;
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    cursor: pointer;
}

.button.primary:hover,
.button.primary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-bg-hover-color);
}

.section-rules .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.section-rules .text {
    font-size: 14px;
    line-height: 1.71;
}

.section-work .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.section-team {
    background-color: var(--primary-team-bg-color);
}

.section-team .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-team .title-mamber {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section-team .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}


.footer {
    background-color: var(--primary-footer-bg-color);
}

.footer span {
    color: var(--primary-white-color)
}

.footer .adress {
    color: var(--primary-white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer .link {
    color: var(--primary-footer-text-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

/* Портфолио */

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio .button {
    background-color: var(--primary-button-bg-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.projects .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .text {
    font-size: 16px;
    line-height: 1.89;
}